/*http://clrs.cc/*/
:root {
  --bg-primary-color: #fff;
  --bg-hover-primary-color: #e6dbdb; /*362d2d*/
  --font-primary-color: #000;
  --font-hover-primary-color: #ee4443;

  --bg-secondary-color: #ee4443;
  --font-secondary-color: #000;

  --bg-tertiary-color: black;
  --font-tertiary-color: #ee4443;
  --font-tertiary-contrast-color: #fff;
  --bg-hover-tertiary-color: grey;

  --btn-color: #ee4443;
  --btn-font-color: #fff;
  --btn-font-hover-color: #fff;
  --btn-hover-color: #ee4443;

  --links-color: #0074d9;

  /* Combinations:#f2f4f7,#fff*/
  --bg-content-color: #fff;
  --bg-content-light-color: #fff;

  --border-color: rgb(233, 231, 231); /*rgb(233, 231, 231), #dddddd*/
  --shadow-color: #fff; /*#888888*/

  --border-radius-m: 6px;
  --border-radius-s: 2px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'EngraversGothic BT', 'Courier New';
}
